.crud{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table td{
    width: 200px;
    height: 30px;
    background-color: blue ;
    text-align: center;
    color: white;
}